:root {
  --white-grey: #e8ebf1;
  --white-grey-2: #e7e7e7;
  --black: #000000;
  --blue: #2aacc8;
  --white: #ffffff;
  --txt-sm: 13px;
  --txt-font-size: 16px;
  --main-title-fs: 50px;
  --txt-font-weight: 400;
  --transition-effect: 0.3s ease;
}

/* general styles */

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* styles for header block */

.header {
  background-color: var(--white-grey);
}

.logo-wrap {
  padding: 24px 0 38px;
}

.logo {
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  transition: color var(--transition-effect);
}

.logo:hover {
  opacity: 0.6;
}

.logo_txt_black {
  color: var(--black);
}

.logo_txt_blue {
  color: var(--blue);
}

.menu-list__item_link {
  display: inline-block;
  font-size: var(--txt-sm);
  font-weight: var(--txt-font-weight);
  line-height: 15px;
  padding: 13px 10px 13px 16px;
  color: var(--black);
  transition: var(--transition-effect);
  text-transform: uppercase;
  cursor: pointer;
}

.menu-list__item_link:hover {
  color: var(--blue);
}

.menu-list__item:hover .menu-list__item_reveal {
  color: var(--blue);
  box-shadow: inset 0px 5px 0px var(--blue);
  background-color: var(--white);
}

.menu-list__item {
  position: relative;
  margin-right: 4px;
}

.menu-list__item:last-child {
  margin-right: 0px;
}

.menu-list__item_reveal {
  transition: all var(--transition-effect);
}

.menu-arrow {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 9px;
  transition: var(--transition-effect);
}

.menu-list__item:hover .menu-arrow {
  border-bottom: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  transform: rotate(225deg);
  margin-bottom: 0;
}

.submenu-list {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 100;
}

.menu-list__item:hover .submenu-list {
  display: block;
}

.submenu-list__item {
  padding: 0 6px;
  background-color: var(--white);
}

.submenu-list__item_link {
  display: block;
  padding: 11px;
  font-size: var(--txt-sm);
  font-weight: var(--txt-font-weight);
  line-height: 15px;
  color: var(--black);
  border-bottom: 1px solid var(--white-grey-2);
  transition: color var(--transition-effect);
}

.submenu-list__item_link:hover {
  color: var(--blue);
}

.submenu-list__item:last-child {
  box-shadow: inset 0px -5px 0px var(--blue);
}

.submenu-list__item:last-child .submenu-list__item_link {
  border-bottom: none;
}
