:root {
  --white-grey: #e8ebf1;
  --white-grey-2: #e7e7e7;
  --white-grey-3: #dfe1e5;
  --black-grey: #626262;
  --black: #000000;
  --black-2: #363636;
  --black-3: #0d0707;
  --blue: #2aacc8;
  --blue-2: #e8fcfe;
  --blue-3: #60cede;
  --blue-4: #72dae6;
  --cyan: #81e4ed;
  --white: #ffffff;
  --txt-sm: 13px;
  --txt-main: 14px;
  --fs-title-h5: 15px;
  --txt-font-size: 16px;
  --txt-font-size-btn: 18px;
  --fs-title-h1: 50px;
  --transition-effect: 0.3s ease;
}

/* general styles */

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--txt-main);
  line-height: 16px;
  font-weight: 400;
}

.container {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-container-start {
  display: flex;
  justify-content: flex-start;
}

.flex-container-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  flex-grow: 1;
}

/* common styles */

.title-h5 {
  font-size: var(--fs-title-h5);
  line-height: 18px;
  font-weight: 400;
  color: var(--black);
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-bold {
  font-weight: 700;
}

.shape_icon {
  max-width: 24px;
}

.br-grey {
  border-bottom: 1px solid var(--white-grey-3);
}

/* styles for header block */

.header {
  background-color: var(--white-grey);
}

.logo-header__wrap {
  padding: 24px 0 38px;
}

.logo {
  font-size: 50px;
  font-weight: 900;
  line-height: 59px;
  transition: color var(--transition-effect);
}

.logo:hover {
  opacity: 0.6;
}

.logo_txt_black {
  color: var(--black);
}

.logo_txt_blue {
  color: var(--blue);
}

.menu-list__item_link {
  display: inline-block;
  font-size: var(--txt-sm);
  font-weight: 400;
  line-height: 15px;
  padding: 13px 10px 13px 16px;
  color: var(--black);
  transition: var(--transition-effect);
  text-transform: uppercase;
  cursor: pointer;
}

.menu-list__item_link:hover {
  color: var(--blue);
}

.menu-list__item:hover .menu-list__item_reveal {
  color: var(--blue);
  box-shadow: inset 0px 5px 0px var(--blue);
  background-color: var(--white);
}

.menu-list__item {
  position: relative;
  margin-right: 4px;
}

.menu-list__item:last-child {
  margin-right: 0px;
}

.menu-list__item_reveal {
  transition: all var(--transition-effect);
}

.menu-arrow {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
  transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 9px;
  transition: var(--transition-effect);
}

.menu-list__item:hover .menu-arrow {
  border-bottom: 2px solid var(--blue);
  border-right: 2px solid var(--blue);
  transform: rotate(225deg);
  margin-bottom: 0;
}

.submenu-list {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 100;
}

.menu-list__item:hover .submenu-list {
  display: block;
}

.submenu-list__item {
  padding: 0 6px;
  background-color: var(--white);
}

.submenu-list__item_link {
  display: block;
  padding: 11px;
  font-size: var(--txt-sm);
  font-weight: 400;
  line-height: 15px;
  color: var(--black);
  border-bottom: 1px solid var(--white-grey-2);
  transition: color var(--transition-effect);
}

.submenu-list__item_link:hover {
  color: var(--blue);
}

.submenu-list__item:last-child {
  box-shadow: inset 0px -5px 0px var(--blue);
}

.submenu-list__item:last-child .submenu-list__item_link {
  border-bottom: none;
}

/* styles for promo slider block */

.main-section {
  padding: 18px 0;
  background-color: var(--cyan);
}

.promo-slider__wrap {
  background-image: url("../assets/img/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-title__wrap {
  max-width: 430px;
  padding: 91px 61px 113px;
}

.promo-slider__title {
  font-size: var(--fs-title-h1);
  font-weight: 700;
  line-height: 59px;
  color: var(--white);
}

.promo-slider__buttons {
  padding-top: 12px;
}

.promo-slider__buttons .promo-slider__button_circle {
  margin-right: 17px;
}

.promo-slider__buttons .promo-slider__button_circle:last-child {
  margin-right: 0;
}

.promo-slider__button_circle {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background-color: var(--black-grey);
  opacity: 0.5;
  margin-right: 17px;
  cursor: pointer;
  transition: var(--transition-effect);
}

.promo-slider__button_circle:hover {
  opacity: 1;
}

.promo-slider__button_circle_active {
  background-color: var(--white);
  opacity: 1;
}

/* styles for services section */

.services {
  background-color: var(--white-grey);
  padding: 55px 0;
}

.services-list__title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.services-list__item {
  max-width: 220px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.services-list__shape {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

.services-list__text {
  font-size: var(--txt-sm);
  font-weight: 400;
  line-height: 15px;
  color: var(--black-2);
  margin-bottom: 30px;
}

.services-list__read_link {
  display: flex;
  align-items: center;
}

.arrow {
  width: 6px;
  height: 6px;
  display: inline-block;
  transition: all var(--transition-effect);
  border-right: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
  transform: rotate(-45deg);
}

.arrow-btn_left {
  transform: rotate(130deg);
}

.services-arrow {
  margin-right: 10px;
}

.services-list__read_link {
  font-size: var(--txt-sm);
  font-weight: 400;
  line-height: 15px;
  color: var(--blue);
  transition: color var(--transition-effect);
}

.services-list__read_link:hover {
  text-decoration: underline;
}

.services-list__read_link:hover .services-arrow {
  border-right: 2px solid var(--blue);
  border-bottom: 2px solid var(--blue);
}

/* styles for works section */

.gallery {
  padding-top: 24px;
  background-color: var(--white);
}

.gallery__top_wrap {
  padding-bottom: 18px;
  margin-bottom: 20px;
}

.gallery__top_title {
  max-width: 145px;
  width: 100%;
}

.gallery-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background-color: var(--cyan);
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.gallery-btn:first-child {
  margin-right: 11px;
}

.gallery-btn .arrow {
  position: absolute;
  top: 7px;
  left: 7px;
}

.gellery__img {
  padding-bottom: 40px;
  margin-bottom: 21px;
}

.gallery__img_item {
  position: relative;
  overflow: hidden;
  margin: 0 10px 10px 0;
}

.gallery__img_item:hover .gallery-hover__content {
  transform: translateY(0);
}

.gallery-hover__wrap {
  max-width: 90px;
  margin: 0 auto;
  width: 100%;
}

.gallery-hover__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: var(--blue);
  transform: translateY(100%);
  transition: var(--transition-effect);
}

.gallery-link .gallery-link__img {
  cursor: pointer;
}

/* styles for clients section */

.testimonials__content_wrap {
  max-width: 433px;
  margin-right: 10px;
}

.testimonials__title_wrap {
  margin-bottom: 14px;
}

.testimonials__icon {
  margin-right: 15px;
}

.testimonials__text {
  font-size: var(--txt-sm);
  line-height: 16px;
}

.testimonials__text_author {
  color: var(--black);
  margin-bottom: 15px;
}

.testimonials__text_quotes {
  margin-bottom: 40px;
  color: var(--black-2);
}

.clients {
  margin-bottom: 41px;
}

.clients__title_wrap {
  margin-bottom: 20px;
}

.clients__icon {
  margin-right: 16px;
}

.clients__content-list  {
  max-width: 480px;
}

.clients__content-item {
  width: 160px;
  height: 100px;
  border: 1px solid var(--white-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styles for download section */

.download {
  margin-bottom: 40px;
}

.download-text__wrap {
  max-width: 610px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.download__text {
  font-size: var(--txt-font-size);
  line-height: 19px;
  color: var(--black-2);
}

.download-content__wrap {
  padding: 33px 41px 41px 31px;
}

.download__wrap_color {
  border: 1px solid var(--cyan);
  background-color: var(--blue-2);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: var(--txt-font-size-btn);
  line-height: 21px;
  color: var(--black-3);
  text-transform: uppercase;
}

.download__btn {
  display: flex;
  align-items: center;
  padding: 15px 33px 19px 19px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
  transition: color var(--transition-effect);
}

.download__btn-color {
  background: linear-gradient(0deg, var(--blue) 0%, var(--blue) 0.1%, var(--blue-3) 14.9%, var(--blue-4) 50%, var(--cyan) 100%);
  border: 1px solid var(--blue);
}

.download__btn-img::before {
  content: "";
  width: 28px;
  height: 25px;
  background-image: url(../assets/svg/download.svg);
  display: inline-block;
  margin-right: 23px;
}

.download__btn:hover {
  color: var(--white);
}

/* styles for footer */

.main-footer {
  background-color: var(--white-grey);
  padding: 31px 0 54px;
}

.footer-top {
  margin-bottom: 51px;
}

.footer-about_wrap {
  max-width: 238px;
}

.footer-wrap {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-title {
  margin-bottom: 10px;
}

.footer-link {
  font-size: var( --txt-main);
  line-height: 16px;
  font-weight: 400;
  color: var(--black);
  transition: var(--transition-effect);
}

.footer-link:hover {
  color: var(--blue);
}

.footer-browse__text_content {
  margin-bottom: 16px;
}

.footer-social__list {
  max-width: 193px;
}

.footer-social__link {
  width: 53px;
  height: 51px;
  font-size: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  transition: var(--transition-effect);
}

.footer-social__link:hover {
  opacity: 0.7;
}

.footer-social__link--facebook {
  background-image: url("../assets/img/social_img/facebook.png");
}

.footer-social__link--dribble {
  background-image: url("../assets/img/social_img/dribble.png");
}

.footer-social__link--pinterest {
  background-image: url("../assets/img/social_img/pinterest.png");
}

.footer-social__link--linkedin {
  background-image: url("../assets/img/social_img/linkedin.png");
}

.footer-social__link--skype {
  background-image: url("../assets/img/social_img/skype.png");
}

.footer-social__link--share {
  background-image: url("../assets/img/social_img/share.png");
}

.footer-text__copyright {
  max-width: 691px;
  margin-right: 10px;
}